<h1><%= @user.login %></h1>

email: <%= @user.email %>
<br / >
post count: <%= @user.microposts.count %>

<h1> Microposts:</h1>

<% @user.microposts.each do |post| %>
	<%= render :partial => "micropost", :locals => {:post => post} %>
<% end %>